.nutrition-page .content{
    /* margin: 50px auto 0; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}
.nutrition-overview{
    display: flex;
    flex-direction: column;
}
.header h3{
    margin: 0;
}
.nutrition-overview .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.nutrition-overview .header h3{
    font-size: 42px;
    font-weight: 700;
    color: white;
}
.add{
    background: transparent;
    color: #03c5d1;
    border: 1px solid #03c5d1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
}