.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 8px 0;
    flex: 1;
    
  }
  .input-field label {
    margin-bottom: 5px;
    color: var(--pure-white);
  }
  .input-field input {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    border: solid 1px black;
    width: 60%;
    background: transparent;
    color: var(--pure-white);
  }
  .input-field input::placeholder {
    color: var(--border-color);
  }
  .input-field input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  