.nutrition-page{
    display: flex;
    flex-direction: column;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3d4a46;
}
.banner h1{
    font-size: 42px;
    color: white;
}